* {
  margin: 0;
  padding: 0;
  font-family: 'Marck Script', cursive;
}

html,
body {
  height: 100%;
}

body {
  background: no-repeat center url('./images/background.jpg');
  background-size: cover;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/snowflakes/snowflake1.png'), url('./images/snowflakes/snowflake2.png'), url('./images/snowflakes/snowflake3.png');
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.gameContainer {
  background-color: rgba(0, 0, 0, 0);
  height: calc(100% - 26px);
  margin: 0 auto;
}

.gameTable {
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  z-index: 3;
}

.mainForm {
  box-sizing: border-box;
  background-color: black;
  position: relative;
  height: 26px;
  z-index: 4;
  margin: 0 auto;
  display: flex;
  justify-content: space-between
}

.cell {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 3px;
  background: center center no-repeat;
  display: inline-block;
}

.cellDiv {
  position: relative;
  top: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30%;
  margin: 0 auto;
}

.conditions {
  width: 33%;
  display: inline-block;
}

.sizeInput {
  max-width: 70px;
}

.score,
.rules {
  text-align: center;
  width: 33%;
  color: white;
  display: inline-block;
  font-size: 21px;
}

.audioPlayer {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.startGame {
  background-color: black;
  color: white;
  border: none;
  font-size: 21px;
}

.santa {
  position: absolute;
  left: 100%;
  top: 70px;
  width: 132px;
  height: 40px;
  z-index: 0;
  background-image: url(./images/santa.png);
  background-size: cover;
  animation: santaMove 60s linear 0s infinite normal none;
}

@keyframes santaMove {
  20% {
    left: 100%;
  }
  45% {
    left: calc(-132px);
    transform: scale(1, 1) rotate(10deg);
  }
  75% {
    left: calc(-132px);
    transform: scale(-1, 1);
  }
  to {
    left: 100%;
    transform: scale(-1, 1);
  }
}

.fire1,
.fire2,
.fire3 {
  position: absolute;
  background-size: cover;
}

.fire1 {
  top: 24%;
  left: 20%;
  background-image: url(./images/fire/салют1.gif);
  width: 100px;
  height: 75px;
  transform: rotate(45deg);
}

.fire2 {
  top: 20%;
  left: 77%;
  background-image: url(./images/fire/салют2.gif);
  width: 140px;
  height: 140px;
}

.fire3 {
  position: absolute;
  top: 20%;
  left: 0%;
  background-image: url(./images/fire/салют3.gif);
  width: 140px;
  height: 75px;
}

.rulesPopup {
  position: absolute;
  top: 45px;
  left: 15px;
  max-width: 500px;
  display: none;
  background-color: black;
  border: 2px solid yellow;
  border-radius: 20px 10px 5px 10px;
}

.rules:hover,
.score:hover {
  cursor: default
}

.rulesText {
  display: inline-block;
  width: 100px;
  padding-left: 20px;
}

.rulesText:hover+.rulesPopup {
  display: inline-block;
  animation: showPopup 1.5s 1;
}

@keyframes showPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.subheader {
  text-align: center;
}

.content {
  text-align: justify;
  padding: 10px;
}

.content::first-line {
  text-indent: 15px;
}

.points {
  font-size: 80px;
  text-align: center;
  position: absolute;
  top: -100px;
  min-width: 100px;
  height: 60px;
  color: yellow;
}

.play,
.stop,
.mute,
.notMute {
  background-color: black;
  background-size: cover;
}

.play {
  background-image: url('./images/audioPlayer/play.png');
}

.stop {
  background-image: url('./images/audioPlayer/pause.png');
  background-color: white;
}

.playButton,
.muteButton,
.nextSoundButton,
.previousSoundButton {
  width: 20px;
  height: 20px;
  border: none;
}

.mute {
  background-image: url(./images/audioPlayer/muteTrue.png);
}

.notMute {
  background-image: url(./images/audioPlayer/muteFalse.png);
}

.playButton,
.muteButton,
.previousSoundButton {
  margin-left: 10px;
}

.volumeInput {
  width: 60px;
}

.button:focus {
  outline: none;
}

.previousSoundButton,
.nextSoundButton {
  background-size: cover;
}

.nextSoundButton {
  background-image: url('./images/audioPlayer/next.png');
}

.previousSoundButton {
  background-image: url('./images/audioPlayer/previous.png');
}